<div class="col-4" style="display: inline-block;padding-bottom: 15px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.description}}</p>
        <p class="card-text">Data de execução: {{task.taskDate | date: 'dd/MM/yyyy'}}</p>
        <div class="text-left">
            <button class="btn btn-primary btn-sm text-left color-badge" (click)="abrirModal(content)">Editar</button>
            <button style="margin-left: 3px;" class="btn btn-danger btn-sm text-left color-badge" (click)="excluir()">Excluir</button>
        </div>        
      </div>
    </div>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="form">
      <div class="modal-body">
        <p>Título</p>
        <input class="form-control" type="text" formControlName="title">
        <small class="small-notification">*Deve ter de 02 a 20 caracteres.</small>
        <p>Data para concluir:</p>
        <input class="form-control" type="date" formControlName="dateExecute">
        <small class="small-notification">*Se a data for menor que a data de hoje, sera atribuido o dia de hoje.</small>        
        <p>Descrição</p>
        <input class="form-control" type="text" formControlName="description"> 
        <small class="small-notification">*Deve ter de 05 a 40 caracteres.</small>           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="editar()">Salvar</button>
      </div>
    </form>   
  </ng-template>