  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Tarefas</a>
    <div class="form-inline">      
      <button class="btn btn-outline-primary my-2 my-sm-0" (click)="abrirModal(content)">Adicionar</button>
    </div>
  </nav>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adicionar</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>      
    <form [formGroup]="form">
      <div class="modal-body">
        <p>Título</p>
        <input class="form-control" type="text" formControlName="title">
        <small class="small-notification">*Deve ter de 02 a 20 caracteres.</small>
        <p>Data para concluir:</p>
        <input class="form-control" type="date" formControlName="dateExecute">
        <small class="small-notification">*Se a data for menor que a data de hoje, sera atribuido o dia de hoje.</small>        
        <p>Descrição</p>
        <input class="form-control" type="text" formControlName="description"> 
        <small class="small-notification">*Deve ter de 05 a 40 caracteres.</small>           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="save()">Salvar</button>
      </div>
    </form>    
  </ng-template>
