
.text-center{
    align-items: center;
    text-align: center;
}

.text-left{
    align-items: left;
    text-align: left;
}

.color-badge{
    color: white !important;
}

.small-notification{
    font-size: 10px;
    font-style: italic;
}

.shadow-on-card{
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}

.shadow-on-nav{
    -webkit-box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
box-shadow: 0px 4px 7px -4px rgba(0,0,0,0.75);
}

.kosugi-font{
    font-family: 'Playfair Display' ;
}

.flower-font{    
    font-family: 'Rajdhani'
}
