
.text-center{
    align-items: center;
    text-align: center;
}

.text-left{
    align-items: left;
    text-align: left;
}

.color-badge{
    color: white !important;
}

.small-notification{
    font-size: 10px;
    font-style: italic;
}